:root
{
    --primary-color: #333652;
    --secondary-color: #FF512F;
    --black-color: #071125;
    --white-color: #D8E1E7;
}

html
{
    font-family: "Poppins", sans-serif;
    color: white;
    background-color: var(--black-color);
    scroll-behavior: smooth;
}

body
{
    padding: 0;
    margin: 0;
}

/* Header Part */
header
{
    background-color: var(--black-color);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 2px 20px black;
}

.logo
{
    font-size: 2em;
    color: white;
    font-weight: 800;
    text-decoration: none;
}

nav > ul
{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

nav > ul > li {
    transform: skew(-16deg);
    transition: background-color 0.2s;
}

nav > ul > li:hover
{
    background-color: var(--secondary-color);
}

nav > ul > li > a
{
    font-size: 1em;
    font-weight: 800;
    display: block;
    transform: skewX(16deg);
    color: white;
    text-decoration: none;
    padding: 20px;
}

/* landing page */
#game
{
    height: 100vh;
    background-image: url('src/img/landing.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-position: top left;
    display: flex;
    align-items: center;
}

#game > .container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#game > .container > .description
{
    width: 40%;
}

#game > .container > img
{
    width: 30%;
}

h2
{
    font-size: 5em;
    margin: 0;
}

em
{
    color: var(--secondary-color);
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
}

.btn-grad
{
    background-image: linear-gradient(to right, #fe8c00 0%, #f83600  51%, #fe8c00  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    text-decoration: none;
}

.btn-grad:hover
{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

/* Team */
#team
{
    background-color: var(--primary-color);
    padding: 10vh 0 10vh 0;
    text-align: center;
}

#team > .members
{
    padding: 3vh 15% 0 15%;
    display: flex;
    justify-content: space-around;
    gap: 10%;
}

#team > .members > article
{
    padding: 1%;
    border-radius: 10px;
}

#team > .members > article > img
{
    width: 100%;
    border-radius: 20px;
}

/* Downlaod */
#download
{
    padding: 10vh 0 10vh 0;
    text-align: center;
}

#download h3
{
    font-size: 2em;
}

#download ul
{
    margin: 0;
    list-style-type: none;
    padding: 0 30% 0 30%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#download li
{
    border-radius: 10px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5% 0 5%;
}